<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
         <title>Guess Which - multiplayer game</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,900">
        <!--
        Artcore Template
		http://www.templatemo.com/preview/templatemo_423_artcore
        -->
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/font-awesome.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/animate.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-misc.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/our-template.css')}}">

        
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.1-respond-1.1.0.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.0.min.js')}}"></script>


        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/plugins.js')}}"></script>

        <script src="{{ url_for('static', filename='js/main.js')}}"></script>

    </head>
    <body onload="displayImages()">
        <section id="pageloader">
            <div class="loader-item fa fa-spin colored-border"></div>
        </section> <!-- /#pageloader -->

        <header-- class="site-header container-fluid">
            <div class="top-header">
                <div class="logo col-md-6 col-sm-6">
                    <h1><em>Guess</em>Which</h1>
                </div> 
            </div>
        </header--> <!-- /.site-header -->

        <div class="content-wrapper">
            <div class="col_one">
                <!-- Pop-up -->
                <div id="pop-up" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 id="pop-up-title"></h2>
                        </div>
                        <p style="margin-top: 20px" id="pop-up-text"></p>
                        <button class="cute-button" id="new_button" onclick="newGame(true)" style="margin-top: 20px">New Game</button>
                    </div>

                </div>
                <div class="row" id="image_display"></div> <!-- /.row -->
            </div>
            <div class="col_two">
                <h2 style="font-size: large; margin-bottom: 20px">Ask me about the image</h2>
                <div id="QA" >
                    <label style="font-weight: bold" for="question">Question:</label>
                    <input type="text" id="question">
                    <p style="margin-top: 20px"></p>
                    <label style="font-weight: bold" for="answer">Answer:</label>
                    <div style="height: 50px">
                        <p id="answer">  </p>
                    </div>
                    <button class="cute-button" id="ask_button" onclick="ask(question.value)">Ask</button>
                </div>
            </div>

            <div class="col_two" style="margin-top: 20px">
                <div style=" display: flex; justify-content: center; align-items: center;">
                    <button class="cute-button" id="new_button" onclick="newGame(true)">New Game</button>
                </div>
                <div style="height: 160px;margin-top: 20px">
                    <div id="form-wrapper">
                        <form method="GET">
                            <h1 id="form-title">Select Difficulty Level</h1>
                            <div id="difficulty-slider">
                                <input type="radio" name="difficulty" id="1" value="1"  onchange="changeDifficulty(1)" required>
                                <label for="1" data-difficulty="Easy"></label>
                                <input type="radio" name="difficulty" id="2" value="2"  onchange="changeDifficulty(2)" required>
                                <label for="2" data-difficulty="Medium"></label>
                                <input type="radio" name="difficulty" id="3" value="3"  onchange="changeDifficulty(3)" required>
                                <label for="3" data-difficulty="Hard"></label>
                            </div>
                        </form>
                    </div>
                    <p class="mini-warning" id="apply_changes"></p>
                </div>
            </div>
        </div> <!-- /.content-wrapper -->

       

        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                 $('.loader-item').fadeOut(); // will first fade out the loading animation
                     $('#pageloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            })
            //]]>
        </script>

    </body>
</html>
